<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework.jndi" level="WARN">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.springframework.security.web" level="WARN">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.springframework.web" level="WARN">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.hibernate" level="WARN">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="org.springframework.security.access.vote.AffirmativeBased"
			level="OFF">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="com.reachout.processors.SystemPropertiesService" level="TRACE">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>