#topheader .navbar-nav li>a {
	text-transform: capitalize;
	color: #333;
	transition: background-color .2s, color .2s;
	color: #fff;
}

#topheader .navbar-nav li.active>a {
	background-color: #333;
	color: #fff;
}

.brand-img {
	height: 2em;
	float:left;
}

.brand-name {
	float:right;
}

.midpage {
	margin: 7.5px 7.5px;
}

.homeimage {
	height: 60%;
    width: 90%;
    border-radius: 10% / 30%;
    margin: 7.5px 7.5px;
}

.btn-primary {
	border-color: #3f3e4d;
	color: #333;
	background-color: #fff;
}

.bg-primary {
	background-color: #008080!important;
}

/* Sign Up / Log In Form CSS */
.form-control, .form-control:focus, .input-group-addon {
	border-color: #e1e1e1;
}
.form-control, .btn {
	border-radius: 3px;
}
.signup-login-form {
	width: 490px;
	margin: 0 auto;
	padding: 30px 0;
}
.signup-login-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #ECF9FF;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-login-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-login-form hr {
	margin: 0 -30px 20px;
}
.signup-login-form .control-group {
	margin-bottom: 20px;
}
.signup-login-form label {
	font-weight: normal;
	font-size: 13px;
}
.signup-login-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}	
.signup-login-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}
.signup-login-form input[type="checkbox"] {
	margin-top: 2px;
}
.signup-login-form .btn{        
	font-size: 16px;
	font-weight: bold;
	background: #19aa8d;
	border: none;
	min-width: 140px;
}
.signup-login-form .btn:hover, .signup-login-form .btn:focus {
	background: #179b81;
	outline: none;
}
.signup-login-form a {
	color: #2E88FF;	
	text-decoration: underline;
}
.signup-login-form a:hover {
	text-decoration: none;
}
.signup-login-form form a {
	color: #19aa8d;
	text-decoration: none;
}	
.signup-login-form form a:hover {
	text-decoration: underline;
}
.signup-login-form .fa {
	font-size: 21px;
}
.signup-login-form .fa-paper-plane {
	font-size: 18px;
}
.signup-login-form .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}

.login-form {
	margin-top: 30px;
}

.alert-success {
	word-wrap: break-word;
}

/* CSS for Profile page */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 100%;
	margin: auto;
	text-align: center;
	padding: 10px;
}

.profile-row {
	padding-top: 30px;
}

.update-profile-btn {
	margin-top: 30px;
}

.save-profile-btn {
	margin-top: 40px;
}

.card-bkg {
	background: #F7FDFF;
	margin-bottom: 20px;
}

.alert-spacing {
	margin-top: 20px;
}

/* Request/Service page CSS */

.card-request {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left !important;
}

.listing-page {
	padding-top: 30px;
	padding-bottom: 10px;
}

.request-row {
	padding-bottom: 20px;
}

/* Style the tab */
.tab {
	float: left;
	border: 1px solid grey;
	border-right: none;
	background-color: #f1f1f1;
	width: 20%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: #fff;
}

/* Style the tab content */
.tabcontent {
	float: left;
	padding: 0px 12px;
	width: 100%;
	border: 1px solid grey;
	border-left: none;
}

.tab button {
	border-bottom: 2px solid rgba(25, 170, 141, .5);
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-card {
	margin: 10px;
}

/** Remaining number of characters css */

.remainingCounterText {
	margin-bottom: 0px;
}

.remainingCounter {
	margin-bottom: 16px;
}